<mat-card>
  <h2 class="alinear">Listado de Categorías</h2>
  <mat-card-header>
    <div>
      <mat-form-field hintLabel="Busqueda de Categoría" appearance="fill">
        <mat-label> Buscar Categoría </mat-label>
        <input matInput #input />
      </mat-form-field>
    </div>
  </mat-card-header>
  <mat-card-header>
    <div class="right">
      <ul>
        <li>
          <button
            mat-raised-button
            color="primary"
            (click)="openModalCategoria()"
          >
            Agregar Categoría
          </button>
        </li>
      </ul>
    </div>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let categoria">{{ categoria.id }}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let categoria">{{ categoria.name }}</mat-cell>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
        <mat-cell *matCellDef="let categoria">{{
          categoria.description
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let categoria; let i = index">
          <button
            mat-icon-button
            color="primary"
            (click)="
              editCategoria(categoria.id, categoria.name, categoria.description)
            "
          >
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </mat-card-content>
</mat-card>
